/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variables */
$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 20%);
$dark-grey: hsl(0, 0%, 12%);
$off-black: hsl(0, 0%, 8%);
/* --- */
$font-size: 14px;

/* Global styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: $off-black;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}





/* Card styles */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: $dark-grey;
    width: 350px;
    height: 525px;
    border-radius: 10px;
    padding: 27px;

    .card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 50%;
            width: 85px;
            margin-bottom: 10px;
        }

        h1 {
            color: $white;
            margin-bottom: 3px;
        }

        p {
            color: $green;
            font-size: $font-size;
            font-weight: 500;
        }
    }

    .card-links {
        width: 100%;
        height: 100%;

        p {
            color: $white;
            font-weight: 300;
            font-size: $font-size;
            text-align: center;
            margin-bottom: 5px;
        }

        .links-list {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $grey;
                width: 100%;
                height: 45px;
                border-radius: 10px;
                color: $white;
                font-weight: 500;
                cursor: pointer;
                transition: 0.75s ease-in-out;

                &:hover {
                    background-color: $green;
                    color: $off-black;
                    transition: 0.75s ease-in-out;
                }
            }
        }
    }
}
